# Python Tutorial for Developers
### Author: Anthony Albertyn

This is a high-level quick-start guide to Python for developers that already know how to code in another scripting language, like JavsScript or other. There are many good parts of Python that have not even been mentioned here, so please see Learning Resources below for next steps to explore Python further.

## Why consider learning Python?

### Popularity of Python

Acdording to Tiobe Index - https://www.tiobe.com/tiobe-index/python/  
- Highest Position (since 2001): #2 in Nov 2020
- Lowest Position (since 2001): #13 in Feb 2003
- Language of the Year: 2007, 2010, 2018, 2020

### Stability of Python

According to https://docs.python.org/3/faq/general.html#how-stable-is-python  
*Python is very stable*

- New stable releases every 6 to 18 months since 1991
- Python has a robust Standard Template Library - https://docs.python.org/3/library/

### Usefulness of Python

According to https://www.python.org/about/apps/

- Web and Internet development
- Scientific and Numeric uses
- Education - easy to learn
- Desktop GUI's
- Support language for software development
- Business applications

Python has 8,000+ scientific (including data science and machine learning) packages, mostly contributed by universities and the scientifc community

## Runs on multiple platforms

According to https://pythondev.readthedocs.io/platforms.html  

Well supported platforms on Python 3.7 and 2.7:

- Linux
- Windows Vista and newer for Python 3.7, Windows XP and newer for Python 2.7
- FreeBSD 10 and newer
- macOS Snow Leopard (macOS 10.6, 2008) and newer

Supported platform with best effort support:  

- Android API 24
- OpenBSD
- NetBSD
- AIX 6.1 and newer

## Comments

In [11]:
# This is a single line comment
# and for multi-line we just repeat

Python does NOT use /* */ for multt-line comments.

## Primitive data types

- int - Integer, example: 123  
- float - Floating point number, example: 23.678  
- bool - Boolean, example: True or False  
- str - String, example "I am a string" 'and so am I'

## Variables

- Python does NOT use var, let, const to create variables  
- A variable must be initialised when created  
- Lines do not end with a semicolon ;

In [12]:
# A variable initialised with a string
first_name = "Jane"

# A variable initialised with a float
temperature = 23.5

# A variable initialised with an integer
people = 5

# A constant
BIRTH_PLACE = "London"

## Output

In [6]:
rating = 10

# Basic output
print(rating)

# Another example
print("User rating: ", rating)

# Print a formatted string
print(f"Users rated us {10} out of 10")

10
User rating:  10
Users rated us 10 out of 10

## Input

In [7]:
user_name = input("Please enter your name: ")

print("You entered: ", user_name )

Please enter your name: Bamby
You entered:  Bamby

## Code blocks

- Use indentation for code blocks
- Python does NOT use { } for code blocks

In [13]:
rating = 5

if rating == 5:
    # This is a code block
    print(rating)

# This is no longer part of the code block
print("Hello")

5
Hello

## Special values

- Python has a special value called *None* which means no value
- Python does not have values like undefined or NaN
- None is NOT the same as false or and empty string "" or 0

In [14]:
x = None

if x == None:
    print("x is None")

x is None

## Data Structures

In [58]:
# Tuple, like an immutable array
my_score = (1, 10, 5)
print(my_score[0])

1

In [56]:
# Lits, like a mutable array
my_friends = ["Ben", "Mary", "Freddie"]

print(my_friends[2])

Freddie

In [55]:
# Dictionary, a hash table
person = {
  "first_name": "Sam",
  "last_name": "Smith",
}

print(person["first_name"])

Sam

This will produce an error in Python: print(person.first_name)

In [59]:
# Set - these are unordered and unindexed
my_set = {"One", "Two", "Three"}

for item in my_set:
    print(item)

Two
Three
One

## Operators

In [43]:
# division
print(10 / 3)

3.3333333333333335

In [44]:
# integer division - decimal places dropped (not rounded)
print(10 // 3)

3

In [45]:
# multiplication
print(10 * 3)

30

In [46]:
# addition
print(10 + 3)

13

In [47]:
# subtraction
print(10 - 3)

7

In [48]:
# equality
print(10 == 10) # True
print(10 == 5) # False
print(10 == '10') # False

True
False
False

In [49]:
# greater than
print(10 > 5) # True
print(5 < 10) # False

True
True

In [50]:
# smaller than
print(5 < 10) # True
print(10 < 5) # False

True
False

In [51]:
# greater than or equal
print(5 >= 5) # True
print(10 >= 5) # True

True
True

In [52]:
# smaller than or equal
print(5 <= 5) # True
print(4 <= 5) # True

True
True

## Logical operators

In [61]:
# and - Python does not use &&
print(True and True) # True
print(True and False) # False

True
False

In [60]:
# or - Python does not use ||
print(True or False) # True
print(False or False) # False

True
False

In [62]:
# not - Python does not use !
print(True and not False) # True
print(True and not True) # False

True
False

## Type Operator

In [67]:
a = "hello"
b = 'hello'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [124]:
name = "Wendy"
friend_name = "Abby"

formatted_string = f"My name is {name}"

print(formatted_string)

print(f"Hello {name}, how is {friend_name}?")

print(type(formatted_string))

My name is Wendy
Hello Wendy, how is Abby?
<class 'str'>

In [75]:
c = 5

print(type(c))

<class 'int'>

In [76]:
d = 5.123

print(type(d))

<class 'float'>

In [74]:
e = True

print(type(e))

<class 'bool'>

In [73]:
f = None

print(type(f))

<class 'NoneType'>

In [72]:
my_score = (1, 10, 5)

print(type(my_score))

<class 'tuple'>

In [71]:
my_friends = ["Ben", "Mary", "Freddie"]

print(type(my_friends))

<class 'list'>

In [70]:
person = {
  "first_name": "Sam",
  "last_name": "Smith",
}

print(type(person))

<class 'dict'>

## Sclicing

In [139]:
name = "James Bond"

In [140]:
print(name[0:5])

James

In [144]:
print(name[:5])

James

In [147]:
print(name[6:10])

Bond

In [148]:
print(name[6:])

Bond

In [154]:
my_list = ['A', 'B', 'C', 'D']

# my_other_list here references the my_list
my_other_list = my_list

my_list.append('E')

print(my_list)
print(my_other_list)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

In [155]:
# clone a list
my_list = ['A', 'B', 'C', 'D']

# slice returns a new list
my_other_list = my_list[:]

my_list.append('E')

print(my_list)
print(my_other_list)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D']

## Working with lists

In [164]:
# get a list item
mine = ["One", "Two", "Three"]

print(mine[1])

Two

In [165]:
# update a list item
mine = ["One", "Two", "Three"]
mine[0] = 1

print(mine)

[1, 'Two', 'Three']

In [166]:
# add an item to the end of the list
mine = ["One", "Two", "Three"]
mine.append("Four")

print(mine)

['One', 'Two', 'Three', 'Four']

In [167]:
# add multiple items to the end of the list
mine = ["One", "Two", "Three"]
mine.extend(["Four", "Five", "Six"])

print(mine)

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [182]:
# insert one item into a list at the start
mine = ["One", "Two", "Three"]

# first argument is the index where to inster
mine.insert(0, "Hello")

print(mine)

['Hello', 'One', 'Two', 'Three']

In [184]:
# insert multiple item into a list at the start
mine = ["One", "Two", "Three"]
mine = ["Hello", "There"] + mine

print(mine)

['Hello', 'There', 'One', 'Two', 'Three']

In [168]:
# remove the second list item
mine = ["One", "Two", "Three"]
mine.pop(1)

print(mine)

['One', 'Three']

In [170]:
# empty a list
mine = ["One", "Two", "Three"]
mine.clear()

print(mine)

[]

In [172]:
# delete a list
mine = ["One", "Two", "Three"]
del mine

In [173]:
# iterate over a list
mine = ["One", "Two", "Three"]
for x in mine:
  print(x)

One
Two
Three

In [174]:
# length of a list
mine = ["One", "Two", "Three"]
print(len(mine))

3

In [176]:
# sort ascending
names = ["Zeta", "Bobby", "Mary", "Erica"]
names.sort()

print(names)

['Bobby', 'Erica', 'Mary', 'Zeta']

In [177]:
# sort descending
names = ["Zeta", "Bobby", "Mary", "Erica"]
names.sort(reverse = True)

print(names)

['Zeta', 'Mary', 'Erica', 'Bobby']

In [178]:
# copy a list
mine = ["One", "Two", "Three"]

yours = mine.copy()

mine.append("Four")

print(mine)
print(yours)

['One', 'Two', 'Three', 'Four']
['One', 'Two', 'Three']

In [185]:
# join lists
a = ["a", "b", "c"]
b = [1, 2, 3]
c = ['x', 'y', 'z']

d = a + b + c
print(d)

['a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

## Range

In [78]:
my_numbers = range(10)

print(my_numbers)

for number in my_numbers:
    print(number)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [79]:
my_numbers_2 = range(5, 10)

for number in my_numbers_2:
    print(number)

5
6
7
8
9

## For Loop

In [81]:
for x in range(5):
    print(x)

0
1
2
3
4

In [82]:
for x in ["One", "Two", "Three"]:
    print(x)

One
Two
Three

In [83]:
my_tuple = (2, 4, 6, 8)

for x in my_tuple:
    print(x)

2
4
6
8

In [118]:
# nested for loops
for i in range(6):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2

## While Loop

In [86]:
x = 5

while x > 0:
    print("hello")
    x = x -1

hello
hello
hello
hello
hello

## Regular functions

In [89]:
def say_my_name():
    print("Batman")

say_my_name()

Batman

In [90]:
def greet(message):
    print(message)

greet("Hellooo")

Hellooo

In [91]:
def add(a, b):
    return a + b

answer = add(10, 5)

print(answer)

15

Note: In Python you may not supply more arguments than the number of parameters defined.

Note: Python does not have a Do While Loop

## Lamda (anonymous) Functions

In [102]:
# Anonymous function can be assigned o a variable
my_lambda = lambda a, b: a + b

print(my_lambda(10, 20))

30

In [105]:
numbers = [10, 20, 30, 40]

# lambda (anonymous) function can be passed as a parameter into another function
numbers_2 = map(lambda x: x * 1000, numbers)

for number in numbers_2:
    print(number)

10000
20000
30000
40000

In [104]:
def my_func(your_func, your_list):
    return map(your_func, your_list)

your_numbers = [10, 20, 30, 40]

# lambda function passed as an agroument to another finction
numbers = my_func(lambda num: num * 5, your_numbers)

for x in numbers:
    print(x)

50
100
150
200

In [108]:
def my_function_factory(function_name):
    if function_name == "add":
        return lambda a, b: a + b
    elif function_name == "subtract":
        return lambda a, b: a - b
    elif function_name == "divide":
        return lambda a, b: a / b
    else:
        return lambda a, b: a * b

In [109]:
do_something = my_function_factory("add")
print(do_something(10, 20))

30

In [110]:
print(my_function_factory("add")(50, 60))

110

In [111]:
answer = my_function_factory("divide")(100, 3)
print(answer)

33.333333333333336

## Conditional Statements

In [85]:
my_number = 10

guess = 5

if guess == my_number:
    print("You guessed right!")
elif guess > my_number:
    print("My number is smaller than your guess")
else:
    print("My number is larger that your guess")

My number is larger that your guess

## Try Except (try catch)

In [189]:
try:
  print("Try something")
except:
  print("There is an exception error")
else:
  print("There was no exception error")
finally:
  print("Finally will always execute")

Try something
There was no exception error
Finally will always execute

Note: Python does not have a Switch statement

## Class

- In Python we use self in stead of this
- self must be added as the first parameter of a constructor or method (function) in a class
- self is not added as an argument though when calling a method

In [127]:
# without explicitly adding a constructor
class Dog:
    name = "Scruffy"

my_dog = Dog()

print(my_dog.name)

Scruffy

In [128]:
class Animal:
    # this is a constructor and its name is init with two underscores on either side
    def __init__(self, type, name):
        self.type = type
        self.name = name

a = Animal("cat", "Felix")

print(a.name)
print(a.type)

a.name = "Fishbones"
print(a.name)

Felix
cat
Fishbones

In [135]:
class Person:
  def __init__(self, first_name, last_name):
        self.name = first_name
        self.surname = last_name

  def get_full_name(self):
    return self.name + " " + self.surname

b = Person("Peter", "Pan")

print(b.get_full_name())

Peter Pan

## Class inheritance

In [187]:
class Person:
  def __init__(self, first_name, last_name):
        self.name = first_name
        self.surname = last_name

  def get_full_name(self):
    return self.name + " " + self.surname

# Employee class extends its parent Person class
class Employee(Person):
    def __init__(self, first_name, last_name, salary):
        # we must call the parent constructor
        super().__init__(first_name, last_name)
        self.salary = salary

worker = Employee("James", "Lynch", 25000)

print(worker.get_full_name())
print(worker.salary)

James Lynch
25000

## Learning resources

- Python Tutorial W£C Schools - https://www.w3schools.com/python/default.asp
- Python for Everybody Specialization on Coursera - https://www.coursera.org/specializations/python
- Many good books on Python from O'Reilly and avaliable on amazon